<h4>Mortgage calculator</h4>
<p>Please enter details below:</p>
<table class="centered striped">
    <!--  <caption>Calculate</caption>
      <thead>
      <tr>
          <th>Bank name</th>
          <th>Interest rate</th>
          <th>Maximum loan</th>
          <th>Minimum down payment</th>
          <th>Loan term</th>
      </tr>
    </thead>-->

    <tbody>
    <tr>

        <td>$</td><td>
        <div class="input-field">
            <input id="Initial loan" type="number" name="Initial loan" value="" onkeyup="duo()">
            <label  for="Initial loan">Initial loan:</label>
        </div></td>
        <td>$</td><td>
        <div class="input-field">
            <input id="Down payment" type="number" name="Down payment" value="" onkeyup="duo()">
            <label  for="Down payment">Down payment:</label>
        </div></td>
       <!-- <td>
            <div class="input-field col s12 ">
                <select class="browser-default">
                    <option value="" disabled selected>Choose your option</option>
                    {{#each banks}}
                    <option value="{{_id}}">{{bank_name}}</option>
                        {{/each}}
                </select>

            </div><label class="left" for="Initial loan">⠀</label>
        </td> -->
    </tr>
    </tbody>
</table>



<table id="myTable" class="centered" style="margin-top: 20px" >
    <!--  <caption>Calculate</caption>
      <thead>
      <tr>
          <th>Bank name</th>
          <th>Interest rate</th>
          <th>Maximum loan</th>
          <th>Minimum down payment</th>
          <th>Loan term</th>
      </tr> -->
    <thead>
    <tr style="display: none">
        <th>Bank name</th>
        <th>Monthly payment</th>
    </tr>
    </thead>

    <tbody>
    {{#each banks}}
        <input type="hidden" class="id" value="{{_id}}" name="id">

    <tr>
        <td class="left" style="display: none"><a id="id" href="/bank/{{_id}}" bankid="{{_id}}">{{bank_name}}</a></td>
        <td style="display: none">{{interest_rate}}</td>
        <td style="display: none">{{loan_term}}</td>
        <td style="display: none"></td>
        <td style="display: none">{{maximum_loan}}</td>
        <td style="display: none">{{m_d_payment}}</td>



    </tr>

    {{/each}}
    </tbody>
</table>

<script>

    if(document.querySelector("input[name='Initial loan']").value != "" || document.querySelector("input[name='Down payment']").value !=""){
        duo();
    }

    function calc(money,firts_persent,year_persent,loan_term){

        let  p=Number(money)
        let  r=Number(year_persent)/100
        let  n=Number (loan_term)
        let m = (p*(r/12)*Math.pow(1+r/12, n))/(Math.pow(1+r/12,n)-1)
        return m.toFixed(2)
    }



    function duo(){
        let il = Number(document.querySelector("input[name='Initial loan']").value);
        let dpp= null;
        if(document.querySelector("input[name='Down payment']").value!="" || document.querySelector("input[name='Down payment']").value == '0') {
         dpp =   Number(document.querySelector("input[name='Down payment']").value);
        }else{
            dpp= null;
        }
        let dp =Number(document.querySelector("input[name='Down payment']").value * 100 /il);
        urlGenerate(il,dpp);


        document.querySelectorAll("#myTable > tbody > tr").forEach(e=> {
            try {
                if (Number(il) <= Number(e.children[4].textContent) && Number(dp) >= Number(e.children[5].textContent)&&dpp!=null &&Number(il)!=0 && il>dpp)  {
                    document.querySelectorAll("#myTable > thead > tr")[0].style = "display:"
                    e.children[0].style = "display:"
                    e.children[3].style = "display:"
                } else {
                    e.children[0].style = "display:none"
                    e.children[3].style = "display:none"
                }
                e.children[3].textContent = "$ "+ calc(il, dp, e.children[1].textContent, e.children[2].textContent)
            }catch (e){
                e.children[0].style = "display:none"
                e.children[3].style = "display:none"
                document.querySelectorAll("#myTable > thead > tr")[0].style = "display:none"
            }
        })

        if(il == 0 ||dpp == null){
            document.querySelectorAll("#myTable > thead > tr")[0].style = "display:none"
        }
    }

    function urlGenerate(il,dp){
        document.querySelectorAll('a[id=id]').forEach(a=>{
          let curentid = a.getAttribute('bankid')
            a.href= '/bank/'+ curentid+'?loan='+il+"&payment="+dp+"&calculate=true"
        })
    }

</script>
